
**/target/
**/build/
**/.svn/
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBean
**/.springBeans
**/*.iml
**/.externalToolBuilders
**/test-output
**/.idea/
**.idea
/.externalToolBuilders
/test-output
/.idea
/*.iml
.project
**/gen-java
rebel.xml
